body{
    /* background: url("/assets/images/hogwartsExpress.jpg") no-repeat center center;  */
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#gobletOfFire {
    padding-top: 45px;
}

#magicalNumber {
    font-size: 50px;
}
